
.navbar {
  @apply flex fixed flex-col bg-black w-full sm:w-56 pr-2 pt-5 z-20;
  transform: translate(-100%, 0);
  transition: transform 0.3s ease-in-out;
}

.open {
  transform: translate(0, 0);
}

@screen sm {
  .navbar {
    @apply open;
  }
}

.activeLink li {
  @apply bg-gray-500 bg-opacity-50 text-white font-bold;
}
