.playerGrid [data-wrapper] {
  @apply grid py-3 text-sm gap-4;
  grid-template-columns: .2fr 7.7fr 0 0 0 0 .1fr;
}

@screen md {
  .playerGrid [data-wrapper] {
    grid-template-columns: .2fr 4.7fr 0 1.5fr 1fr .5fr .1fr;
  }
}

@screen lg {
  .playerGrid [data-wrapper] {
    grid-template-columns: .2fr 3.5fr 1.7fr 1fr 1fr .5fr .1fr;
  }
}
