@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-gradient text-white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    height: 100vh;
    width: 100vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  img {
    position: relative;
    object-fit: cover;
    object-position: center;
  }
}

@layer components {
  .grid-wrapper {
    @apply grid grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-x-4 gap-y-4 auto-rows-auto;
  }

  .dropdown-heading-value {
    overflow: auto;
    @apply no-scrollbar;
  }
}

@layer utilities {
  .box-shadow {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .content-area {
    height: calc(100vh - theme('spacing.32'));
  }

  @screen sm {
    .content-area {
      height: calc(100vh - theme('spacing.16'));
    }
  }

  @screen lg {
    .content-area {
      height: calc(100vh - theme('spacing.20'));
    }
  }

}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
