
.fullPlayer {
  @apply fixed flex flex-col top-0 left-0 z-40 bg-gradient-to-b from-gray-600 to-black h-full w-full py-6 px-6;
  transform: translate(0, 200%);
  transition: transform 0.3s ease-in-out;
}

.open {
  transform: translate(0, 0);
}

@screen md {
  .fullPlayer {
    @apply px-10;
  }
}

@screen lg {
  .fullPlayer {
    @apply px-20;
  }
}
